{% extends 'base.html.twig' %}
{% block body %}
    <div class="success">
        <p>Вы успешно зарегистрировались.</p>
    </div>
    <script type="text/JavaScript">
        setTimeout("location.href = '/';", 10000);
    </script>
{% endblock %}