{% block searchBar %}
    <br>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" class="form-control"  value= "{{ search }}" placeholder="Поиск">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>
        </div>
    </div>
{% endblock %}