{% extends 'base.html.twig' %}

{% block title %}Импорт Exel{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        {{ form_row(form.uploadFile) }}
        <button class="btn btn-warning" type="submit">Сохранить</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
